<form role="form" action="/create-order/">
  {% csrf_token %}
  {{ form }}
  <div class="card-body">
    <div class="form-group">
      <label for="order-name">نام</label>
      <input name="order-name" type="text" class="form-control" id="order-name" placeholder="یک نام برای سفارش خود انتخاب کنید">
    </div>
    <div class="form-group" style="margin-top: 2.5rem;">
      <div class="row">
        <label class="col-md-4 label-with-btn" for="order-region" >بر اساس محدوده انتخاب شده</label>

      </div>
      <div class="row" id="region-by-polygon-row" style="display: none; margin-top: .5rem;">
      </div>
    </div>
    <div class="form-group" style="margin-top: 2.5rem;">
      <div class="row">
        <label class="col-md-4 label-with-btn" for="order-name">زمان مورد نظر خود را انتخاب کنید</label>
      </div>
      <div class="row" style="margin-top: .25rem;">
        <div class="col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">از</span>
            </div>
            <input class="datepicker-from form-control" />
              <input type="hidden" name="date-from" class="date-from-alt">
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">تا</span>
            </div>
            <input class="datepicker-to form-control" />
              <input type="hidden" name="date-to" class="date-to-alt">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" style="margin-top: 2.5rem;">
      <label>توضیحات</label>
      <textarea name="tozihat" class="form-control" rows="3" placeholder="اگر توضیحاتی در مورد سفارش خود در نظر دارید در این قسمت بنویسید ..."></textarea>
    </div>
  </div>
</form>
